@font-face {
  font-family: euclid;
  font-weight: bold;
  src: url(../fonts/EuclidCircularA-Regular.ttf);
}
@font-face {
  font-family: euclid-bold;
  font-weight: bold;
  src: url(../fonts/EuclidCircularA-Medium.ttf);
}
@font-face {
  font-family: euclid-boldest;
  font-weight: bold;
  src: url(../fonts/EuclidCircularA-Bold.ttf);
}

.caro-bg {
  background-image: url("../images/about.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.caro-box {
  color: white;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 70px;
  background-color: rgba(0, 73, 105, 1);
  position: absolute;
  bottom: -60px;
  left: 60px;
}
@media (max-width: 375px) {
  .caro-box {
    position: relative;
  }
}
.caro-box-para {
  color: rgba(94, 96, 176, 1);
}
.about-section{
    background-image: url("../images/about2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards-three{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 10px 30px;
    height: auto !important;
    width: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-section{
    padding: 0 60px 60px 60px;
}
.process-section{
    padding: 60px;
}
.cir-arrow{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 73, 105, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 73, 105, 1);
    font-size: 1.1rem;
    cursor: pointer;
}
.cir-arrow:hover{
    background-color: rgba(0, 73, 105, 1);
    color: white;
}
.each-process{
    display: flex;
    align-items: center;
    gap: 60px;
    padding:0 60px 0 0;
}
.each-process-img{
    height: 450px;
}
@media(max-width:1325px){
    .each-process-img{
        height: 275px;
    }
}
@media(max-width:1035px){
    .each-process-img{
        height: 205px;
    }
}
@media(max-width:800px){
    .each-process-img{
        height: 205px;
    }
}
@media(max-width:768px){
    .each-process-img{
        height: 250px;
    }
    .each-process{
        flex-direction: column;
        justify-content: center;
        padding:0 0px 0 0;
    }
    .each-process-mid{
        flex-direction: column-reverse;
    }
}
@media(max-width:510px){
    .each-process-img{
        height: 200px;
    }
    .each-process{
        padding:0 0px 0 0;
    }
}